<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <title>Login Page</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
    #web_name, #username_label, #login_header, #password_label, #password_form, #username_form, #copyright {
        font-family: "Prompt", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
</style>

<body class="bg-[url('/static/Asset/Footage_Pens.png')] bg-no-repeat bg-cover bg-fixed">
    <!-- Navbar -->
    <nav class="sticky bg-[#F6995C] w-full z-20 top-0 start-0">
        <div class="max-w-screen-xl flex flex-wrap p-4">
            <div class="flex"> 
                <img src="/static/Asset/Logo_PENS.png" class="h-[70px]" alt="Pens Logo" />
                <span class="self-center text-[40px] font-bold whitespace-nowrap text-black" id="web_name">EEPIS LENDING SPACE</span>
            </div>
        </div>
    </nav>

    <!-- Card -->
    <div class="flex justify-center items-center pt-[130px] sm:pt-[80px] md:pt-[80px] lg:pt-[80px] xl:pt-[130px] 2xl:pt-[100x]">
        <div class="content-center max-w-xl p-[50px] bg-white rounded-3xl" id="card">
            <h1 id="login_header" class="self-center text-[45px] font-bold text-black mb-[15px]">ELS LOGIN PAGE</h1>
            <form id="create-user" class="max-w-md m-[10px]" action="/login" method="POST">
                <div class="relative z-0 w-full group">
                    <label for="username_form" id="username_label" class="block text-[35px] font-semibold text-black">Username</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none">
                            <svg class="w-[28px] h-[28px] text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"/>
                            </svg>
                        </div>
                        <input type="text" name="username" id="username_form" class="block pl-[35px] py-2.5 px-0 w-full text-[25px] text-gray-900 bg-transparent border-0 border-b-[3.5px] border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder="Tuliskan Username Anda" required />
                    </div>  
                </div>
                <div class="relative z-0 w-full mb-5 group">
                    <label for="password_form" id="password_label" class="block text-[40px] font-semibold text-black">Password</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none">
                            <svg class="w-[28px] h-[28px] text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                            </svg>
                        </div>
                        <input type="password" name="password" id="password_form" class="block pl-[35px] py-2.5 px-0 w-full text-[25px] text-gray-900 bg-transparent border-0 border-b-[3.5px] border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder="Tuliskan Password Anda" required />
                    </div>
                </div>
                <button type="submit" id="loginButton" class="text-white bg-[#51829B] hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-[33px] w-full px-[120px] py-2.5 text-center">Login</button>
            </form>   
        </div>
    </div>

    <!-- Copyright -->
    <footer class="flex fixed bottom-0 left-0 z-20 w-full bg-[#51829B] rounded-lg shadow" id="copyright">
        <div class="items-center mx-auto max-w-screen-xl p-4">
            <span class="text-[17px] text-white sm:text-center">
                © 2024 Kelompok 4 - Teknologi Web Service. All rights reserved
            </span>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>

<!-- <script>
        document.getElementById('loginButton').addEventListener('click', function() {
            window.location.href = '/beranda';
        });
    </script> -->

